body {
  background: var(--bg-color);
  color: var(--text-primary);
  font-family: sans-serif;
  transition: background 0.3s ease, color 0.3s ease;
}

.checkout-page{
  padding:30px;
}

.checkout-container{
  display:flex;
  gap:30px;
  max-width:1100px;
  margin:auto;
}

/* LEFT */
.address-box {
  flex: 2;
  background: var(--card-bg);
  padding: 20px;
  border-radius: 15px;
  box-shadow: var(--card-shadow);
  border: 1px solid var(--border-color);
  transition: background 0.3s ease;
}

.address-box input,
.address-box textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  background: var(--bg-color);
  color: var(--text-primary);
  border: 1px solid var(--border-color);
}

textarea{
  height:80px;
}

/* RIGHT */
.summary {
  flex: 1;
  background: var(--card-bg);
  padding: 20px;
  border-radius: 15px;
  box-shadow: var(--card-shadow);
  border: 1px solid var(--border-color);
  transition: background 0.3s ease;
}

.summary p{
  display:flex;
  justify-content:space-between;
  margin:10px 0;
}

.place-order{
  width:100%;
  padding:12px;
  border:none;
  border-radius:25px;
  background:#c49b63;
  color:#fff;
  cursor:pointer;
  margin-top:15px;
}